
.app {
    background-color: rgba(3, 0, 14, 0.945);
    color: white;
    height: 200vh;
}

.sidebar {
    width: 120px;
    margin: 5px;
    position: sticky;
    top: 62px;
    align-self: flex-start;
    align-items: start;
}

.main-heading{
    border-bottom: 1px solid #ddd;
    
}

.video-player{
    border: 5px solid black;
}