
.app {
    background-color: rgba(3, 0, 14, 0.945);
    color: white;
    height: 100%;
}

.sidebar {
    width: 120px;
    margin: 5px;
    position: sticky;
    top: 62px;
    align-self: flex-start;
    align-items: start;
    flex-direction: column;
}

.main-heading{
    border-bottom: 1px solid #ddd;
    
}

.video-player{
    border: solid pink 1px;
    width: 1200px;
    height: 400px;
}

.trending{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.clip-container{
    border: green solid 1px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    margin: 10px;
    max-width: 900px;
    max-height: 800px;
}

.clip-details {
    border: solid 1px blue;
    display: flexbox;
    align-items: center;
  }

  .home {
    border: 1px blue solid;
    display: inline-flex;
    justify-content: end;
  }